@using Database_Test
@using SWEN_344_Bookstore.Database

@{
    ViewBag.Title = "CreateBook";
    Layout = "~/Views/Shared/_Layout.cshtml";

    RestAccess remoteAccess = RestAccess.GetInstance();
    SQLite_Database localAccess = SQLite_Database.GetInstance();
}

<div class="col-xs-12">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Create Book</h2><br />

        <form method="post">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Title:</div>
                    <input type="text" name="bookTitle" class="form-control" placeholder="Enter Title" required>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Author:</div>
                    <input type="text" name="bookAuthor" class="form-control" placeholder="Enter Author" required>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Description:</div>
                    <textarea type="text" name="bookDescription" class="form-control" rows="4" placeholder="Book Description" required></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Image:</div>
@*                  Should provide a url*@
@*                    <button class="btn btn-info col-xs-8">Upload Image</button>*@
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Price:</div>
                    <input type="number" name="bookPrice" class="form-control" placeholder="$0.00" step="any" min="0" required>
                </div>
            </div>

            <label><input type="checkbox" name="bookIsEnabled"> Is Enabled?</label><br/>
            <input type="submit" value="Create" class="btn btn-primary col-xs-3 col-xs-offset-9"/>
            
            <br/>
            
            @{
                var title = Request.Form["bookTitle"];
                var author = Request.Form["bookAuthor"];
                var description = Request.Form["bookDescription"];
                var priceString = Request.Form["bookPrice"];
                var isEnabledString = Request.Form["bookIsEnabled"];

                if (title != null && author != null && description != null && priceString != null) {
                    float price = float.Parse(priceString); //Convert string to float

                    var bookid = remoteAccess.CreateBook(author, price, title, description); //Create the book

                    var isEnabled = false;
                    if (isEnabledString != null && isEnabledString == "on") {
                        isEnabled = true;
                    }

                    if (bookid != -1) {
                        localAccess.CreateInventoryBook(bookid, 0, isEnabled);
                    }
                }
            }

        </form>
    </div>
</div>