
@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<List<SWEN_344_Bookstore.Models.Book>> bookTable = ViewData["books"] as List<List<SWEN_344_Bookstore.Models.Book>>;
}

<h2>Catalog</h2>
<table border="1">
    @foreach (var row in bookTable)
    {
        <tr>
            @foreach (var book in row)
            {
                <td>
                    <ul>
                        <li>
                            @book.Name
                        </li>
                        <li>
                            @book.Author
                        </li>
                    </ul>
                </td>
            }
        </tr>
    }
</table>

