@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1>Catalog</h1>
    <p>Browse for your books here</p>
    <p><a href="." class="btn col-xs-12 btn-primary btn-lg">Book &raquo;</a></p>
</div>